---
---

$gray: #999;
$light-gray: #EEE;
$manchester-violet: #64308C;
$manchester-violet-20: #C5B4CC;
$manchester-violet-10: #EDE6F2;
$manchester-violet-5: #F7F3F8;
$manchester-yellow: #FFCC33;


/* Space out content a bit */
body {
    padding-top: 20px;
    font-family:Helvetica;
}

.nav-link.active {
  background-color: $manchester-violet !important;
  //background-color: rgb(87, 19, 126) !important;
}

a {
  color: $manchester-violet;
  text-decoration: none;

  &:hover {
    color: $manchester-violet;
    text-decoration: underline;
  }
}

.header {
    border-bottom: 1px solid $light-gray;
    padding-bottom: 10px;
    margin-bottom: 20px;
    text-align: center;
}

.footer {
    /* padding-top: 19px; */
    color: $gray;
    border-top: 1px solid $light-gray;
    text-align: center;
    font-size: 0.8em;

    a:link, a:visited {
        color: $gray;
    }
}

.fa {
    color: $gray;
}
a > .fa {
    // make sure that font-awesome icons are underlined in links
    display: inline;
}

 @media (min-width: 768px) { 
     .container { 
         max-width: 800px; 
     } 
 } 


/* Jumbotron */
.jumbotron {
    text-align: justify;
    padding-top: 1.5em;
    padding-bottom: 0.5em;
    font-size: 125%
}

.jumbotron-green{
    background-color:white;
    font-size:90%;
    text-align:left;
    background-color:#F2F7F1
}

/* Group logo */
#logo {
    height: 65px;
    margin: 2px 0 8px 0;
}

/* Front page news. */
ul.news {

    .date {
        color: $gray;
        font-weight: bold;
    }

    > li {
        margin-top: 1em;
    }
}

@media (min-width: 576px) {
    .project-people { column-count: 2 }
    .card-columns   { column-count: 2 }

}

@media (min-width: 768px) {
    .role.member    { column-count: 3 }
    //.role.grad      { column-count: 2 }
    .project-people { column-count: 3 }
    .card-columns   { column-count: 3 }
}

.people {
    margin-left:10px 
}
.title img {
    max-width: 50%;
}

section {
    margin-bottom: 2em;
}

.profile {
    object-fit: cover; // makes sure it's cropped
}

.noprofile {
    circle {
        fill: $light-gray;
    }
    text {
        font-weight: 700;
        fill: white;
    }
}

.card {

    .profile {
        height: 40px;
        width: 40px;
        margin: 3px;
    }

    .card-footer { padding: 0.5em }
}

.person a {
    font-weight:bold;
    font-size:105%;
}

.person {
    font-size:85%;

    margin-bottom: 10px;

    .profile {
        height: 80px;
        width: 80px;
    }

    .bio {
        margin-top:8px;
        color: $gray;
    }

    .person-name {
        margin: 0;
    }
}

.person-without-image {
    margin: 0;

    .bio {
        margin-left: 1em;
    }
}

svg {
    // make the alignment just like img from bootstrap's reboot.scss
    vertical-align: middle;
}

h1,h2,h3 {
    font-family: "Times";
    letter-spacing:0.01em;
    color:#2a2a2a;
} 


li.nav-link active { 
    background-color: black
}

.table {
    table, caption, tbody, tfoot, thead, tr, th, td {
        padding-right: 0;
        padding-left: 0;
    }

    .series {
        //color: $dark-gray;
        font-weight: bold;
        font-size: 0.9em;
    }

    .publication {
        .icon {
            padding-right: 6px;
        }
        .pubtitle {
            font-weight: bold;
            font-size: 108%;
        }

        .venuetype {
            font-size: 80%;
            //line-height: 1.2;
        }

        .venue {
            font-size: 80%;
            //line-height: 1.2;
            //padding-top: 3px;
            padding-bottom: 8px;
        }

        .abstract {
            //padding-left: 4em;
            //text-indent:-2.5em;
            font-size: 90%;
            //padding-bottom: 2px;
            //padding-top:18px;
        }

        .note {
            font-size: 90%;
            //padding-top:8px;
            //color: $dark-gray;
        }

        .links {
            padding-top: 5px;
        }

        .pages {
            line-height: 1.2;
        }

        table, caption, tbody, tfoot, thead, tr, th, td {
            margin: 0;
            padding: 0;
            border: 0;
            outline: 0;
            font-size: 100%;
            vertical-align: baseline;
            background: transparent;
        }

        .date {
            //width: 10px;
            padding-right: 20px;
        }
    }
}
