<table class="table">
<tbody>
<tr>
  <td width="100px" style="color=#64308C">
    <big><strong>2026</strong></big><br />
    <span class="series">Venue</span>
  </td>

  <td class="publication">
    <table>
      <tr>
        <td class="icon">
          <a href="">
            <img src="img/pdf.png" width=20px />
          </a>
        </td>
        <td class="pubtitle">
          MockTitle: A Placeholder Study on Hypothetical Analysis Techniques.&nbsp;
        </td>
      </tr>

      <tr>
        <td class="icon">
          <a href="#">
            <img src="img/bibtex.png" width=20px/>
          </a>
        </td>
        <td class="authors">
          Author A, Author B, and Author C.
        </td>
      </tr>

      <tr>
        <td class="icon">
          <span style="font-size:110%">
            <!--<a href="#">🧑‍💻</a>-->
          </span>
        </td>
        <td class="abstract">
          <b>Abstract:</b>
          <i>
            This mock abstract briefly describes a fictional approach for
            evaluating conceptual ideas in a controlled example.
          </i>
        </td>
      </tr>

      <tr>
        <td class="icon"></td>
        <td class="venue">
          Fictional Journal of Example Research. XX pages.
        </td>
      </tr>

      <tr>
        <td class="icon"></td>
        <td class="links">
          [<a href="#">🧑‍💻 artifact</a>]
        </td>
      </tr>
    </table>
  </td>
</tr>

<tr>
  <td width="60px">
    <span class="series">CONF-X'XX</span>
  </td>

  <td class="publication">
    <table>
      <tr>
        <td class="icon">
          <a href="#">
            <img src="img/pdf.png" width=20px />
          </a>
        </td>
        <td class="pubtitle">
          Another Mock Paper: Measuring Imaginary Properties of Synthetic Systems.&nbsp;
        </td>
      </tr>

      <tr>
        <td class="icon">
          <a href="#">
            <img src="img/bibtex.png" width=20px/>
          </a>
        </td>
        <td class="authors">
          Researcher X, Researcher Y, and Researcher Z.
        </td>
      </tr>

      <tr>
        <td class="icon"></td>
        <td class="abstract">
          <b>Abstract:</b>
          <i>
            This paper presents a mock methodology for estimating outcomes
            in hypothetical scenarios without relying on real-world data.
          </i>
        </td>
      </tr>

      <tr>
        <td class="icon"></td>
        <td class="venue">
          Nth International Conference on Placeholder Topics (CONF-X'XX). YY pages.
        </td>
      </tr>

      <tr>
        <td class="icon"></td>
        <td class="links">
          [<a href="#">
            <img width="12px" src="img/pdf.png" /> pdf
          </a>]
          [<a href="#">
            <img width="12px" src="img/bibtex.png" /> bib
          </a>]
        </td>
      </tr>
    </table>
  </td>
</tr>

</tbody>
</table>

